.MuiFormControlLabel-label{
    font-family: "Alegreya" !important;
    font-size: 14px !important;
}
.MuiFormLabel-root{
    font-family: "Alegreya" !important;
    font-size: 14px !important;
}
.MuiInputBase-inputSizeSmall{
    font-family: "Alegreya" !important;
    font-size: 14px !important;
}