.MuiTableCell-root{
    font-family: "Alegreya " !important;
    font-size: 18px !important;
}
.css-1086bdv-MuiPaper-root-MuiAccordion-root{
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px 0px !important;
    border-top: none;
    border-bottom: 0.5px solid #ccc;
}
.MuiAccordionSummary-content{
    margin-top: 12px !important;
    margin-bottom: 0px !important;
}
.MuiAccordionSummary-root{
    padding: 0 !important;
}
.css-15v22id-MuiAccordionDetails-root{
    padding: 8px 0px !important;
}
.MuiTableRow-root{
    th, td{
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
}