

.active {
    left: 0;
    transition: linear .1s ;
}
.unactive {
    left: -110%;
    transition: linear .1s;
}
.onhover{
    @keyframes fadeIn {
        from {
            opacity: 0;
            scale: 0;
        } to{
            opacity: 1;
            scale: 0.3;
        }
    };


    &::after {
        content: "";
        position: absolute;
        top: 50px;
        border-bottom: 1px black solid;
        transition: linear .2s ;
        animation: fadeIn linear .2s;
    }
}