.hide-box{
    animation: fadeOut .3s linear;
    display: none;

}
.hide-overlay{
    animation: fadeOut .3s linear;
    display: none;
}
.show-box{
    animation: fadeIn .3s linear;
}
.show-overlay{
    animation: fadeIn .3s linear
}
@keyframes fadeIn {
    from{   
        opacity: 0;
        display: none;
    } to{
        opacity: 1;
        display: block;
    }
}
@keyframes fadeOut {
    from{
        display: block;
        opacity: 1;
    } to{
        opacity: 0;
        display: none;
    }
}